/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1.title {
    text-align: center;
}

.life-container {
    margin: 30px auto;
    width: 100%;
    max-width: 500px;
    min-height: 300px;
    border: 1px solid #aaa;
}
