/* Space out content a bit */
body {
    color: #444;
    font-family: "Droid Sans", sans-serif;
}

h1.title {
    text-align: center;
}

.life-container {
    margin: 30px auto;
    width: 100%;
    max-width: 600px;
    height: 400px;
}

.controls {
    margin: 30px auto;
    width: 100%;
    max-width: 600px;
}
