<h1 class="title"
    *ng-if="!embedded">
    Reactive Game of Life
</h1>

<div class="life-container">
    <div class="game-container">
        <div *ng-for="#row of cells" class="game-row">
            <div *ng-for="#cell of row"
                 class="game-cell"
                 [class]="{'alive': cell.alive}"
                 [style.background-color]="cell.alive ? cell.color : 'white'"
                 (click)="clickCell(cell)"></div>
        </div>
    </div>
</div>

<div class="controls pure-form"
     *ng-if="!embedded">
    <span>Generation: {{ game.generation }}</span>
    <button class="pure-button pure-button-primary"
            (click)="game.start()"
            *ng-if="!game.started">
        Start
    </button>
    <button class="pure-button pure-button-primary"
            (click)="game.pause()"
            *ng-if="game.started">
        Stop
    </button>
    <button class="pure-button"
            (click)="reset()">
        Reset
    </button>
    <label for="pattern">
        Pattern:
    </label>
    <select #selectedpattern
            (change)="loadPattern(selectedpattern.value)">
            <!--(change)="loadPattern(selectedPattern.value, [vm.color])">-->
        <option value=""></option>
        <option *ng-for="#pattern of availablePatterns" [value]="pattern">{{ pattern }}</option>
    </select>
    <!--    <label>
            Color:
        </label>
        <spectrum-colorpicker ng-model="vm.color"
                              options="vm.spectrumOptions">
        </spectrum-colorpicker>-->
</div>
