<h1 class="title"
    ng-hide="vm.embedded">
    Reactive Game of Life
</h1>

<div class="life-container"
     ng-class="{'no-grid': vm.noGrid, 'embedded': vm.embedded}"
     game-of-life game="vm.game"
     click-cell="vm.clickCell(cell)"></div>

<div class="controls pure-form"
     ng-hide="vm.embedded">
    <span>Generation: {{ vm.game.generation }}</span>
    <button class="pure-button pure-button-primary"
            ng-click="vm.game.start()"
            ng-hide="vm.game.started">
        Start
    </button>
    <button class="pure-button pure-button-primary"
            ng-click="vm.game.pause()"
            ng-show="vm.game.started">
        Stop
    </button>
    <button class="pure-button"
            ng-click="vm.reset()">
        Reset
    </button>
    <label for="pattern">
        Load pattern:
    </label>
    <select id="pattern"
            ng-options="pattern for pattern in vm.availablePatterns"
            ng-model="selectedPattern"
            ng-change="vm.loadPattern(selectedPattern, [vm.color])"></select>
</div>
